setuptools
aiofiles
aiohttp
aiosqlite
anyio
dnspython
fastapi
httpx
Jinja2
multidict
pytz
pynvim
pydantic
pylsp-rope
tenacity
jedi-language-server
pylyzer
tldr
gitgud
mycli
pgcli
tomlkit
iredis
termcolor
libtmux
hiredis
redis
pre-commit
virtualenvwrapper
neovim-remote
ruff
ruff-lsp
python-lsp-server[all]
